{% comment %}
 humanize: For the "apnumber" filter, to display "two" instead of
   "2". Requries 'django.contrib.humanize' in INSTALLED_APPS
{% endcomment %}
<!DOCTYPE html>
<html>
<head lang="en">
	<title>Color Likenatorizer</title>
	<meta http-equiv="Content-Type" content="text/html; charset=device-width"/>
	<meta name="viewport" content="width=device-width"/>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript">
	</script> 
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>

	{% load static %}
	 <script src="{% static 'css/styles.css' %}" defer></script>

	 <link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all" />
	
      
</head>
<body>
	<div class="search_section">
		<!-- <form id="search_colors_form_id" method="get" action ="{% url 'color_list' %}"> -->

		

			<div class="ui-widget">
			  <label for="color_search_text">Colors: </label>
			  <input id="color_search_text">
			</div>
			<!-- <input type="submit" value="Search for color" id="id_pic_submit_button"/>
 -->			
 
	<!-- 	</form> -->
		<!-- {% if search_text|length >= MIN_SEARCH_CHARS %}
		<p><b>Searching for &quot;<code>{{ search_text }}</code>&quot;:</b>
			{% if color_search_results.count > 0 %}
				</p>
				<ul>
					{% for color in color_search_results %}
						<li>{{ color.name }}</li>
					{% endfor %}
				</ul>
			{% else %}
				<i>No results</i>
			{% endif %}
		{% endif %}
		 -->
	
	</div>
	
	<div class="content_section">
		<h1>Color Likenatoizer</h1>

		{% if colors.count == 0 %}
			<p><i>There are no colors in the database</i></p>
		{% else %}
			<table>
				<tr>
					<th colspan="2">Color</th>
					<th>Favrioute?</th>
				</tr>
				{% for color in colors %}
					<tr>
						<td style="background-color: {{ color.name }};" class="td__color_color">{{ color.name }}</td>
						<td class="td__color_name">{{ color.name }}</td>
						<td id="toggle__color_like_cell_{{color.id }}" class="td__toggle_color_like_button" data-color_id="{{ color.id }}">
							{% include "color_liker/color_like_link_html_snippet.txt" %}
						</td>
					</tr>
				{% endfor %}
			</table>
		{% endif %}
	</div>
	 
<!-- 	{% load static %}
 <script src="{% static 'js/color_ajax_like.js' %}" defer></script> -->

<!-- {% load static %}
<script type='text/javascript' src="{% static 'js/color_ajax_search.js' %}" defer></script>
{% load static %}
   <script type='text/javascript' src="{% static 'js/color_ajax_like.js' %}" defer></script> -->

   {% load static %}
   <script type='text/javascript' src="{% static 'js/color_ajax_main.js' %}" defer></script>

</body>
</html>